<a href="https://colab.research.google.com/github/Muntasir90629/ML-Algorithm-Python/blob/master/LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import io

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving heart_failure_clinical_records_dataset.csv to heart_failure_clinical_records_dataset (4).csv

In [ ]:
df=pd.read_csv(io.BytesIO(uploaded['heart_failure_clinical_records_dataset.csv']))

In [ ]:
df.head()

   age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0   82        0                        70  ...        1    26            1
1   94        0                       582  ...        0    27            1
2   85        0                        23  ...        0    28            1
3   50        1                       249  ...        0    28            1
4   50        1                       159  ...        0    29            0

[5 rows x 13 columns]

In [ ]:
X = df.iloc[:, 0:12].values
y = df.iloc[:, 12].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', C=10.0, random_state=0)
model.fit(X_train, y_train)

LogisticRegression(C=10.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:

conf_m = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [ ]:
print('report:', report, sep='\n')

report:
              precision    recall  f1-score   support

           0       0.67      1.00      0.80         6
           1       1.00      0.25      0.40         4

    accuracy                           0.70        10
   macro avg       0.83      0.62      0.60        10
weighted avg       0.80      0.70      0.64        10